/*===================================================
/*GALERIA MINI*/
/*===================================================*/
.galeria-container{
    width: 97%;
    height: 90vh;
    margin-top: -20vh;
    
}
