.container#tecnicaturas .sliders{
    overflow: hidden;
}
.container#tecnicaturas .sliders .background{
    background-image: url("../assets/images/programacion/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 130%;
}


.container#tecnicaturas .sliders .logo-container .text{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: left;
    margin-left: 2%;
}
.typing-animated{
    display: flex;
    letter-spacing: 10px;
    border-right: 5px solid;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    animation:
        typing 2s steps(12) forwards 2s,
        typing-cursor .5s step-end infinite alternate;
}


.container .pantallazo .contents .imagen{
    width: 30vw;
    height: 50vh;
    margin-left: 10%;
    margin-top: 0;
}

.textHorariosTecn{
    font-family: "Roboto";
    font-size: 3vh;
    margin-top: 2vw;
    border: 0px;
    border-right: 2px;
    border-style:solid;
    border-color: rgba(0, 0, 0, 0.822);
    padding-right: 1.2vw;
    padding: 1.4;
}

.text-container{
    display: flex;
    flex-direction: row;
}


.selector-anios{
    width: 97vw;
    height: 300vh;
    display: flex;
    flex-direction: row;
    background-color: rgba(155, 24, 24, 0.897);
}
.selector-anios .anios-wrapper{
    margin-top: 15px;
    display: flex; 
    flex-direction: row;
    width: 58.2vw;
    height: 100%;
    row-gap: 0;
    overflow-x: hidden;
}
.anio{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 58.2vw;
    height: 100%;
    margin: 0;
    flex-shrink: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}
.anio .titles{
    background-color: rgba(206, 206, 206, 0);;
}

.tab-button{
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 15%;
    background-color: rgba(255, 255, 255, 0.911); ;
    border-top-left-radius: 15PX;
    border-top-right-radius: 15px;
    margin-top: 5px;
    margin-left: 10px;
    align-items: center;
    padding-left: 10px;
}

.tab-button:hover {
    background-color: #b6b6b6;
}

.tab-button.active {
    height: 90%;
    width: 30%;
    background-color: #8a8a8a;
}

.textPestaña{
    font-family: "Roboto";
    font-size: 24px;
    margin-left: 10px;
}

.contenedorXanioPestañe{
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.pestaniaTituloANIOS{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
.contenidoANIOS{
    height: 100%;
    width: 100%;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;

    border-color: rgba(0, 0, 0, 0.404);
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
}

.contenidoANIOS .texto{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.materiasBasicas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botonesMaterias{
    height: 50px;
    width: 90%;
    font-size: 100%;
    font: weight 4px;
    text-align: left;
}

.materia-desplegable{
    height: 100px;
    width: 100px;
    background-color: blue;
}
.content{
    height: 0px;
    width: 0px;
    opacity: 0%;
}
.materia-desplegable.active .content{
    height: 100px;
    width: 100px;
    background-color: blue;

    height: 100px;
    width: 500px;
    opacity: 100%;
}

.anio .contents{
    height: 100%;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 0;
    justify-content: left;
    text-align: left;
}
.materias-wrapper{
    display: flex;
    width: 90%;
    height: 100%;
    margin-top: 2%;
    flex-direction: row;
    align-items: center;
}
.materias-wrapper .materias{
    width: 50%;
    height: 100%;
    text-align: center;
}

.materias-wrapper .materias .subtitle{
    font-size: 5vh;
}
.materias-wrapper .materias .list{
    text-align: left;
    font-size: 2.5vh;
}
.materias-wrapper .materias .list ul{
    list-style: none;
}
.materias-wrapper .materias .list.right{
    text-align: right;
    margin-right: 5.5%;
}
.arrow-wrapper{
    position: relative;
    margin-left: 0%;
    width: 17.4vw;
    height: 30%;
    align-self: center;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrow-wrapper.hidden{
    opacity: 1;
}
.arrow-wrapper .arrow{
    width: 7vw;
    height: 14vh;
    top: 50%;
    position: fixed;
}
.arrow-wrapper.hidden .arrow{
    opacity: 0;
    filter: blur(100);
    transform: translateX(-200%);
    transition: blur 0.6s ease-in-out, 0.4s ease-in-out;
}
.arrow-wrapper.show .arrow{
    opacity: 1;
    filter: blur(0);
    transform: translateX(10%);
    transition: blur 0.6s ease-in-out,  transform 0.4s ease-in-out, opacity 0.5s ease-in-out, width 0.5s ease-in-out, height 0.3s ease-in-out;
}
.arrow-wrapper.hidden .arrow.right{
    transform: translateX(200%);
}
.arrow-wrapper.show .arrow.right{
    transform: translateX(-20%);
}
.arrow-wrapper.show .arrow:hover{
    width: 8vw;
    height: 15vh;
    transition: opacity 0.5s ease-in-out, width 0.5s ease-in-out, height 0.3s ease-in-out;
}

.arrow-wrapper .arrow img{
    width: 100%;
    height: 100%;
}
.arrow-wrapper .arrow.left img{
    transform: rotate(270deg);
}

.arrow-wrapper .arrow.right img{
    transform: rotate(90deg);
}

@keyframes typing-cursor{
    50%{border-color: transparent}
}
@keyframes typing{
    from {width: 0%}to{width:100%}
}

