/*FONTS*/
@font-face {
    font-family: "PlayFair";
    src: url('../assets/fonts/PlayfairDisplay.ttf') format(truetype);
  }


* {
    box-sizing: border-box;
  }
body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
.container{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
/* Editamos el slider*/
.container .sliders{
    width: 100%;
    height: 730px;
    position: absolute;
    padding: 0px;
    display:flex;
    /*Color de la transición*/
    background-color: rgb(10, 10, 10);

}
.container .sliders .sliderImage {
    width: 110%;
    height: 100%;
    filter: blur(4px) brightness(30%);

}
 
/* El logazoooo */
.container .sliders .logoContainer {
    position: absolute;
    align-self: center;
    left: 24%;
    top: 27%;
    justify-self: center;
    display: flex;
    width: 70%;
    height: 27%;
    /*background: rgba(0, 0, 0, 0.7);*/
}
.container .sliders .logoContainer .logo{
    width: 25%;
    height: 100%;
}
.container .sliders .logoContainer .logo img{
    width: 150%;
    height: 100%;
}
.container .sliders .logoContainer .text{
    font-family: "PlayFair";
    font-weight: 700;
    color: #f2f2f2;
    text-align: left;
    align-self: center;
    font-size: 30px;
    padding-left: 5%;
}
 
/* Control de la animación */
.container .sliders .fade {
    -webkit-animation-name: fade-image;
    -webkit-animation-duration: 2.0s;
    animation-name: fade-image;
    animation-duration: 2.0s;
}

/* Webkit para Safari y navegadores de celular */
@-webkit-keyframes fade-image {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
 
@keyframes fade-image {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}