/*FONTS*/
@font-face {
    font-family: "PlayFair";
    src: url('../assets/fonts/PlayfairDisplay.ttf') format(truetype);
    font-family: "Roboto";
    src: url("../assets/fonts/Roboto/Roboto-Regular.ttf") format(truetype);
  }


* {
    box-sizing: border-box;
  }
html{
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
} 
body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    padding-left: 5%;
    overflow-x: hidden
}
.container{
    margin: 0px;
    padding: 0px;
    width: 100%;
    overflow-x: hidden;
}
/*============================================
SLIDER
=================================================*/
.container .sliders{
    width: 97%;
    height: 100vh;
    margin-left: 2%;
    padding: 0px;
    display:flex;
    align-self: center;
    justify-self: center;
    align-items: center;
    justify-content: center;
    /*Color de la transición*/
    background-color: rgb(10, 10, 10); 
    

}
.container .sliders .sliderImage {
    width: 110vw;
    height: 100vh;
    filter: blur(4px) brightness(30%);

}
 
/* El logazoooo */
.container .sliders .logoContainer {
    position: absolute;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.container .sliders .logoContainer .logo{
    width: 12%;
    height: 21%;
}
.container .sliders .logoContainer .logo img{
    width: 100%;
    height: 100%;
}
.container .sliders .logoContainer .text{
    font-family: "PlayFair";
    font-weight: 700;
    color: #f2f2f2;
    text-align: left;
    font-size: 6vh;
    margin-left: 2%;
}
.container .sliders .arrow{
    width: 15%;
    height: 15%;
    transition: all 0.5s ease-in-out;
    position: absolute;
    animation: alternate-reverse arrow-up-down infinite 1.2s;
    animation-delay: 3s;
    -webkit-animation: alternate-reverse arrow-up-down infinite 1.2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}
.container .sliders .arrow a{
    width: 100%;
    height: 100%;
}
.container .sliders .arrow a img{
    width: 100%;
    height: 100%;
}
.container .sliders .arrow:hover{
    transition: all 0.5s ease-in-out;
    width: 17%;
    height: 17%;
}

/* Control de la animación */
.container .sliders .fade {
    -webkit-animation-name: fade-image;
    -webkit-animation-duration: 2.0s;
    animation-name: fade-image;
    animation-duration: 2.0s;
}

/*============================================
SIDEBAR
=================================================*/
.container .sidebar{
    height: 100%; 
    width: 7%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    overflow-y: hidden;
    padding-top: 20px;
    display: flex;
    /*justify-items: left;*/
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.5s ease-in-out;
}
.container .sidebar.active{
    transition: all 0.5s ease-in-out;
    width: 25%;
    align-items: flex-start;
    padding-left: 20px;
}
.container .sidebar .sidebarLogo{
    width: 80%;
    height: 12%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
}
.container .sidebar .sidebarLogo a img{
    width: 100%;
    height: 100%;
    
}
.container .sidebar.active .sidebarLogo{
    width: 25%;
    margin-left: -3%;
    justify-content: flex-start;
    transition: all ease-in-out 0.5s;
    
}
.container .sidebar .sidebarLogo:hover{
    width: 90%;
    height: 13%;
    margin-left: 5%; 
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.container .sidebar.active .sidebarLogo:hover{
    width: 27%;
    height: 13%;
    margin-left: -4%;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.container .sidebar .sidebarMenu{
    margin-top: 2%;
    width: 80%;
    height: 12%;
    align-self: flex-start;
    margin-left: 7.5%;
    align-items: center;
    transition: all 0.5s ease-in-out;
    font-size: 2.5vh;
}

.container .sidebar .sidebarMenu:hover{
    margin-top: 2%;
    width: 90%;
    height: 13%;
    cursor: pointer;
    align-self: flex-start;
    margin-left: 3%;
    align-items: center;
    transition: ease-in-out 0.5s;

    
}

.container .sidebar.active .sidebarMenu{
    width: 25%;
    margin-left: -4%;
    justify-content: flex-start;
}
.container .sidebar.active .sidebarMenu:hover{
    width: 27%;
    height: 13%;
    align-self: flex-start;
    cursor: pointer;
    margin-left: -5%;
    align-items: center;
    transition: ease-in-out 0.5s;
}


.container .sidebar .sidebarMenu button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: none;
    border:rgba(255, 255, 255, 0)
}
.container .sidebar .sidebarMenu img{
    width: 100%;
    height: 80%;
}

.container .sidebar .sidebarMenu p{
    margin-top: -20%;
    transition: ease-in-out 0.5s;
    font-family: "PlayFair";
    font-weight: 700;
    color: #f2f2f2;
    text-align: center;
    align-self: center;
    
}

/*============================================
Menu cerrado
=================================================*/
.container .sidebar .options{
    opacity: 0;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.5s;
    width: 100%;
    align-items: flex-start;
    font-family: "Roboto";
    font-weight: 500;
    color: rgba(255, 255, 255, 0.795);
    text-decoration: none;
}
.container .sidebar .options .modalidadesDesplegable{
    width: 106%;
    height: 7%;
    margin-left: -6%;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container .sidebar .options .modalidadesDesplegable .modalidadesButton button{
    border: solid 1px;
    border-color: #161616;
    background-color: #141414;
    color: rgba(255, 255, 255, 0.795);
    text-align: left;
    text-indent: 10%;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 2.4vh;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, border 0.5s ease-in-out;
}
.container .sidebar .options .modalidadesDesplegable .modalidadesButton button img{
    width: 0.7vw;
    height: 1.5vh;
    transition: all 0.5s ease-in-out;
    transform: rotateX(180deg);
    position: relative;
    top: 7%;
    margin-left: 0%;
}
.container .sidebar .options a{
    width: 106%;
    height: 7%;
    align-content: center;
    opacity: 0;
    font-size: 2.4vh;
    border: solid 1px;
    margin-left: -6%;
    border-color: #161616;
    background-color: #141414;
    transition: background-color 0.5s ease-in-out;
    color: rgba(255, 255, 255, 0.795);
    text-decoration: none;
}

/*============================================
Menu abierto
=================================================*/
.container .sidebar.active .options .modalidadesDesplegable{
    opacity: 1;
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.container .sidebar.active .options{
    opacity: 100;
    transition: all ease-in-out 0.5s;
    width: 100%;
    height: auto;
    min-height: 76%;
}

.container .sidebar.active .options .modalidadesDesplegable .modalidadesButton{
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.5s;
}
.container .sidebar.active .options .modalidadesDesplegable .modalidadesButton button:hover{
    transition: all ease-in-out 0.5s;
    border: solid 1px;
    border-color: rgba(114, 17, 17, 0.9);
    background-color: rgba(109, 15, 15, 0.9);
    width: 100%;
    cursor: pointer;
}
.container .sidebar.active .options a{
    opacity: 1;
    text-indent: 11%;
}
.container .sidebar .options a:hover{
    border: solid 1px;
    border-color: rgba(114, 17, 17, 0.9);
    background-color: rgba(109, 15, 15, 0.9);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.container .sidebar.active .options .modalidadesDesplegable .modalidades{
    opacity: 0;
    width: 0;
    height: 0;
    display: flex;
    flex-direction: column;
    transition: opacity 0.5s, height 0.5s;
}
.container .sidebar.active .options .modalidadesDesplegable .modalidades a{
    opacity: 0;
    width: 0;
    height: 0;
    border: none;
    color: #141414;
    transition: opacity 0.5s, height 0.5s;
}
/*============================================
Modalidades extendidas
=================================================*/
.container .sidebar.active .options .modalidadesDesplegable.active{
    transition: all ease-in-out 0.5s;
    height: 20%;
}
.container .sidebar.active .options .modalidadesDesplegable.active .modalidadesButton{
    height: 35%;
}
.container .sidebar.active .options .modalidadesDesplegable.active .modalidadesButton button img{
    transition: all 0.5s ease-in-out;
    transform: rotateX(0deg);
    top: 0%;
}
.container .sidebar.active .options .modalidadesDesplegable.active .modalidades{
    opacity: 1;
    width: 100%;
    height: auto;
}
.container .sidebar.active .options .modalidadesDesplegable.active .modalidades a{
    opacity: 1;
    width: 106%;
    height: auto;
    display: block;
    padding: 1.785% 0;
    text-indent: 25%;
    border: solid 1px;
    color: white;
    margin-left: -6%;
    border-color: #161616;
    background-color: #141414;
    transition: height 0.5s ease-in-out;
}
.container .sidebar.active .options .modalidadesDesplegable.active .modalidades a:hover{
    border: solid 1px;
    border-color: rgba(114, 17, 17, 0.9);
    background-color: rgba(109, 15, 15, 0.9);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
/*============================================
CONTENIDO
=================================================*/
.container .textModalidades{
    width: 97%;
    height: 45vh;
    margin-left: 2%;
    margin-top: 0;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(199, 199, 199, 0.897);
}
.texto{
    font-size: 7vh;
}
.textoMasGrande{
    font-size: 9vh
}

.container .modalidadesContainer{
    width: 97%;
    height: 105vh;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.container .modalidadesContainer .programacion{
    border: solid 5px;
    border-color: black;
    width: 100%;
    height: 50%;
    display: flex;
    background-color: rgb(255, 129, 129);
}

.container .modalidadesContainer .programacion .imagen{
    border: solid 5px;
    border-color: black;
    width: 50%;
    height: 100%;
    display: flex;
    background-color: rgb(221, 174, 174);
}
.container .modalidadesContainer .programacion .bloque{
    border: solid 5px;
    border-color: black;
    width: 50%;
    height: 100%;
    display: flex;
    background-color: rgb(249, 132, 123);
}

.container .modalidadesContainer .programacion .bloque .botonInfo{
    border: none;
    width: 20%;
    height: 10%;
    position: relative;
    top: 50%;
    left: 2%;
    border-radius: 12px;
    display: flex;
    background-color: rgb(255, 253, 253);
}
.container .modalidadesContainer .programacion .botonInfo button{
    border: none;
    background: none;
    font-weight: 550;
    width: 100%;
    height: 100%;
}

.container .modalidadesContainer .informatica{
    border: solid 5px;
    border-color: black;
    width: 100%;
    padding-left: 0;
    height: 50%;
    background-color: hwb(219 44% 0%);
    display: flex;
}

.container .modalidadesContainer .informatica .bloque{
    border: solid 5px;
    border-color: black;
    width: 50%;
    height: 100%;
    display: flex;
    background-color: rgb(100, 114, 176); 
}

/*Así una imagen sola, igual para las tuercas vas a tener que hacerle una clase a cada una, hace la de la compu*/
/*La de las tuercas la hago yo cuaalquier cosa,, porq tenes q tener un div que contenga ambas y despues posicionar ese div
y dsp posicionar las tuercas dentro de ese div... Ya, gracias :]*/
.container .modalidadesContainer .programacion .bloque img{
    position: relative;
    left: 50%;
}
.container .textGaleria{
    width: 97%;
    height: 35vh;
    margin-left: 2%;
    margin-top: 0;
    flex-direction: column;
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.897);
}
/*===================================================
/*GALERIA MINI*/
/*===================================================*/
.container .galeriaContainer{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.container .galeriaContainer .galeria{
    width: 60vw;
    height: 50vh;
    padding: 0px;
    display: flex;
    overflow: hidden;
    
    /*Color de la transición*/
    background-color: rgb(10, 10, 10); 
}
.container .galeriaContainer .galeria .sliderImage {
    width: 60vw;
    height: 50vh;
    filter: blur(4px) brightness(30%);
}

/* Control de la animación */
.container .galeriaContainer .galeria .fade {
    -webkit-animation-name: fade-image;
    -webkit-animation-duration: 2.0s;
    animation-name: fade-image;
    animation-duration: 2.0s;
}


/*===================================================
RESPONSIVE
=====================================================*/
@media (max-width: 1200px){
    .container .sliders .logoContainer {
        position: absolute;
        align-self: center;
        justify-self: center;
        justify-items: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        /* right: 0.5vh;
        left: 1vh; */
        /*background: rgba(0, 0, 0, 0.7);*/
    }
}
@media (max-width: 970px){
    body{
        padding-left: 0;
    }
    .container .sidebar{
        display: none;
    }
    .container .sliders .logoContainer {
        right: 0vw;
        left: 1vh; 
    }
    .container .sliders .logoContainer .logo{
        width: 14vw;
        height: 21vh;
        position: relative;
        bottom: 7vh;
        right: 1vw;
    }
    .container .sliders .arrow{ 
        left: 45vw;
    }
    .container .sliders .logoContainer .text{
        font-size: 4vh;
    }
    .container .sliders .logoContainer .logo{
        width: 11vw;
        height: 18vh;
    }
    .textModalidades{
        width: 100%;
        height: 33vh;
        margin: 0;
    }
    .texto{
        font-size: 5vh;
    }
    .textoMasGrande{
        font-size: 7vh
    }
}
@media (max-width:568px) {
    .container .sliders{
        width: 110vw;
        height: 98vh;
        padding: 0px;
        margin: 0px;
        margin-left: 0px;
    }
    .container .sliders .sliderImage {
        width: 110vw;
        height: 100vh;
    }
    .texto{
        font-size: 3vh;
    }
    .textoMasGrande{
        font-size: 5vh
    }
}
/*===================================================
ANIMACIONES
=====================================================*/


/* Webkit para Safari y navegadores de celular */
@-webkit-keyframes fade-image {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
@keyframes fade-image {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes arrow-up-down {
    0% {
        top: 80vh;
    }
    50% {
        top: 78vh;
    }
    100% {
        top: 80vh;
    }
}
 
@keyframes arrow-up-down {
    0% {
        top: 80vh;
    }
    50% {
        top: 78vh;
    }
    100% {
        top: 80vh;
    }
}
