/*FONTS*/
@font-face {
    font-family: "PlayFair";
    src: url('../assets/fonts/PlayfairDisplay.ttf') format(truetype);
  }


* {
    box-sizing: border-box;
  }
html{
    width: 100vw;
    height: 100vh;
    scroll-behavior: smooth;
}
body{
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
    padding-left: 5%;
    overflow-x: hidden;
}
.container{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
/* Editamos el slider*/
.container .sliders{
    width: 100%;
    height: 730px;
    padding: 0px;
    display:flex;
    /*Color de la transición*/
    background-color: rgb(10, 10, 10);

}
.container .sliders .sliderImage {
    width: 110%;
    height: 100%;
    filter: blur(4px) brightness(30%);

}
 
/* El logazoooo */
.container .sliders .logoContainer {
    position: absolute;
    align-self: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 100%;
    
    /*background: rgba(0, 0, 0, 0.7);*/
}
.container .sliders .logoContainer .logo{
    width: 12%;
    height: 19%;
    position: relative;
    bottom: 5%;
    right: 5%
}
.container .sliders .logoContainer .logo img{
    width: 100%;
    height: 100%;
}
.container .sliders .logoContainer .text{
    font-family: "PlayFair";
    font-weight: 700;
    color: #f2f2f2;
    text-align: left;
    align-self: center;
    font-size: 30px;
    position: relative;
    right: 4%;
    bottom: 5%
}
 
/* Control de la animación */
.container .sliders .fade {
    -webkit-animation-name: fade-image;
    -webkit-animation-duration: 2.0s;
    animation-name: fade-image;
    animation-duration: 2.0s;
}

/*SIDEBAR*/
.container .sidebar{
    height: 100%; 
    width: 7%; 
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    right: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 20px;
    display: flex;
    /*justify-items: left;*/
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.5s ease-in-out;
}
.container .sidebar.active{
    transition: all 0.5s ease-in-out;
    width: 25%;
    align-items: flex-start;
    padding-left: 20px;
}
.container .sidebar .sidebarLogo{
    width: 80%;
    height: 12%;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
    margin-bottom: 20px;
    transition: all 0.5s ease-in-out;
}
.container .sidebar .sidebarLogo a img{
    width: 100%;
    height: 100%;
    
}
.container .sidebar.active .sidebarLogo{
    width: 25%;
    margin-left: -3%;
    justify-content: flex-start;
    transition: all ease-in-out 0.5s;
    
}
.container .sidebar .sidebarLogo:hover{
    width: 90%;
    height: 13%;
    margin-left: 5%; 
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.container .sidebar.active .sidebarLogo:hover{
    width: 27%;
    height: 13%;
    margin-left: -4%;
    cursor: pointer;
    transition: ease-in-out 0.5s;
}
.container .sidebar .sidebarMenu{
    margin-top: 2%;
    width: 80%;
    height: 12%;
    align-self: flex-start;
    margin-left: 7.5%;
    align-items: center;
    transition: all 0.5s ease-in-out;
    font-size: 16px;
}

.container .sidebar .sidebarMenu:hover{
    margin-top: 2%;
    width: 90%;
    height: 13%;
    cursor: pointer;
    align-self: flex-start;
    margin-left: 3%;
    align-items: center;
    transition: ease-in-out 0.5s;

    
}

.container .sidebar.active .sidebarMenu{
    width: 25%;
    margin-left: -4%;
    justify-content: flex-start;
}
.container .sidebar.active .sidebarMenu:hover{
    width: 27%;
    height: 13%;
    align-self: flex-start;
    cursor: pointer;
    margin-left: -5%;
    align-items: center;
    transition: ease-in-out 0.5s;
}


.container .sidebar .sidebarMenu button{
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: none;
    border:rgba(255, 255, 255, 0)
}
.container .sidebar .sidebarMenu img{
    width: 100%;
    height: 80%;
}

.container .sidebar .sidebarMenu p{
    margin-top: -20%;
    transition: ease-in-out 0.5s;
    font-family: "PlayFair";
    font-weight: 700;
    color: #f2f2f2;
    text-align: center;
    align-self: center;
    
}

/* ESTADO DEFAULT DE LAS OPCIONES DEL MENU (No se ven).*/
.container .sidebar .options{
    opacity: 0;
    display: flex;
    flex-direction: column;
    transition: all ease-in-out 0.5s;
    width: 100%;
    align-items: flex-start;
    font-family: "PlayFair";
    font-weight: 500;
    color: white;
}
.container .sidebar .options .modalidadesDesplegable{
    width: 106%;
    height: 7%;
    margin-left: -6%;
    opacity: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container .sidebar .options .modalidadesDesplegable .modalidadesButton button{
    border: solid 1px;
    border-color: #161616;
    background-color: #141414;
    color: white;
    text-align: left;
    text-indent: 10%;
    font-family: "PlayFair";
    font-weight: 500;
    font-size: 16px;
    width: 100%;
    height: 100%;
    transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out, border 0.5s ease-in-out;
}
.container .sidebar .options .modalidadesDesplegable .modalidadesButton button img{
    width: 10%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    transform: rotateX(180deg);
    position: relative;
    top: 54%;
    margin-left: 0%;
}
.container .sidebar .options a{
    width: 106%;
    height: 7%;
    opacity: 0;
    border: solid 1px;
    margin-left: -6%;
    border-color: #161616;
    background-color: #141414;
    transition: background-color 0.5s ease-in-out;
}

/* Propiedades una vez que el menu esta abierto */
.container .sidebar.active .options .modalidadesDesplegable{
    opacity: 1;
    overflow-x: hidden;
    overflow-y: hidden;
}
.container .sidebar.active .options{
    opacity: 100;
    transition: all ease-in-out 0.5s;
    width: 100%;
    height: 76%;
}

.container .sidebar.active .options .modalidadesDesplegable .modalidadesButton{
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.5s;
}
.container .sidebar.active .options .modalidadesDesplegable .modalidadesButton button:hover{
    transition: all ease-in-out 0.5s;
    border: solid 1px;
    border-color: rgba(114, 17, 17, 0.9);
    background-color: rgba(109, 15, 15, 0.9);
    width: 100%;
    cursor: pointer;
}
.container .sidebar.active .options a{
    opacity: 1;
    text-indent: 11%;
}
.container .sidebar .options a:hover{
    border: solid 1px;
    border-color: rgba(114, 17, 17, 0.9);
    background-color: rgba(109, 15, 15, 0.9);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.container .sidebar.active .options .modalidadesDesplegable.active .modalidades{
    transition: all 0.5s ease-in-out;
    opacity: 0;
    
}
.container .sidebar.active .options .modalidadesDesplegable.active .modalidades a{
    transition: all 0.5s ease-in-out;
    opacity: 0;
    border: none;
}
/*Modalidades extendidas */
.container .sidebar.active .options .modalidadesDesplegable.active{
    transition: all ease-in-out 0.5s;
    height: 50%;
}
.container .sidebar.active .options .modalidadesDesplegable.active .modalidadesButton{
    height: 7%;
}
.container .sidebar.active .options .modalidadesDesplegable.active .modalidadesButton button img{
    transition: all 0.5s ease-in-out;
    transform: rotateX(0deg);
}
.container .sidebar.active .options .modalidadesDesplegable.active .modalidades{
    transition: all 0.5s ease-in-out;
    opacity: 1;
    width: 100%;
    height: 10%;
}
.container .sidebar.active .options .modalidadesDesplegable.active .modalidades a{
    transition: all 0.5s ease-in-out;
    opacity: 1;
    width:100%;
    height: 10%;
}
/*============================================
CONTENIDO
=================================================*/
.container .textModalidades{
    width: 97%;
    height: 30vh;
    margin-left: 2%;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 8vh;
}
.container .textModalidades .primero{
    font-family: "Roboto";
    font-weight: 500;
    color: rgba(5, 5, 5, 0.404);
    background-color: white;
}
.container .textModalidades .segundo{
    font-family: "Roboto";
    font-weight: 800;
    margin-top: -8vh;
    color: rgba(114, 17, 17, 0.9);
    background-color: white;
}
.container .modalidadesContainer{
    width: 97%;
    height: 105vh;
    display: flex;
    flex-direction: column;
    margin-left: 2%;
}
.container .modalidadesContainer .programacion{
    border: solid 5px;
    border-color: black;
    width: 100%;
    height: 50%;
    display: flex;
    background-color: aqua;
}

.container .modalidadesContainer .programacion .imagen{
    border: solid 5px;
    border-color: black;
    width: 50%;
    height: 100%;
    display: flex;
    background-color: rgb(221, 174, 174);
}
.container .modalidadesContainer .programacion .bloque{
    border: solid 5px;
    border-color: black;
    width: 50%;
    height: 100%;
    display: flex;
    background-color: rgb(252, 93, 81);
}

.container .modalidadesContainer .programacion .bloque .botonInfo{
    border: none;
    width: 25%;
    height: 10%;
    position: relative;
    top: 65%;
    left: 10%;
    border-radius: 12px;
    display: flex;
    background-color: rgb(255, 253, 253);
}
.container .modalidadesContainer .programacion .botonInfo button{
    border: none;
    background: none;
    font-weight: 550;
    width: 100%;
    height: 100%;
}

.container .modalidadesContainer .informatica{
    border: solid 5px;
    border-color: black;
    width: 100%;
    height: 50%;
    padding-left: 0;
    display: flex;
    background-color: hwb(219 44% 0%);
}

/*===================================================
RESPONSIVE
=====================================================*/

@media (min-width:400px) {
    
}


/* Webkit para Safari y navegadores de celular */
@-webkit-keyframes fade-image {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}
 
@keyframes fade-image {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}