
/* Background */
.container .background{
    width: 100vw;
    height: 98vh;
    padding: 0px;
    display:flex;
    justify-content: center;
}
.container .background .image{
    filter: brightness(30%);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    
}
.container .background .text{
    font-family: "PlayFair";
    font-weight: 700;
    color: #f2f2f2;
    text-align: left;
    align-self: center;
    display: flex;
    flex-direction: column;
    font-size: 6vh;
    position: relative;
    right: 3vw;
    
}
.container .background .text .bigger{
    font-size: 9vh;
}
.container .background .text .bigger .animated{
    font-family: "PlayFair";
    color:rgb(255, 255, 255)
}
.container .background .arrow{
    width: 15%;
    height: 15%;
    transition: all 0.5s ease-in-out;
    position: absolute;
    align-self: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    left: 42vw;
    top: 80vh;
    animation: alternate-reverse arrow-up-down infinite 1.2s;
    animation-delay: 3s;
    -webkit-animation: alternate-reverse arrow-up-down infinite 1.2s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
}
.container .background .arrow a{
    width: 100%;
    height: 100%;
}
.container .background .arrow a img{
    width: 100%;
    height: 100%;
}
.container .background .arrow:hover{
    transition: all 0.5s ease-in-out;
    width: 17%;
    height: 17%;
    left: 41vw;
    top: 78vh;
}
/* Contenido  */
.container .tecnicatura{
    margin-left: 20%;
    margin-right: 20%;
}
.container .tecnicatura .title{
    font-size: 40px;
    font-weight: bold;
}
.container .tecnicatura .text{
    font-size: 20px;
}
.container .tecnicatura .selectoresDeInformacion .expansible{
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-decoration: none;
    display: block;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    width: 100%;
    text-align: start;
}

.anio{
    display: flex;
    flex-direction: row;
}

.tituloAniosCSS {
    padding: 20px;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.infoAniosCSS {
    padding: 20px;
    text-align: center;
    font-size: 17px; 
}
.buttonAnioTecnicatura {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.buttonAnioTecnicatura:hover {
    background-color: #e0e0f1;
}
.acomodaEnColubna{
    display: flex;
    flex-direction: column;
}
.subtituloTecnicatura{
    height: 60%;
}
.linea{
    background-color: black;
    height: 2px;
}
.lineaA{
    background-color: rgb(185, 185, 185);
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.text{
    margin-top: 70px;
    margin-bottom: 70px;
}
.barraDeNavegacionTecnicatura{
    display: flex;
    flex-direction: row;
}
.barraDeNavegacionTecnicaturaBOTONES{
    background-color: #fff;
    border-top: black;
    border-width: #000;
    border-left: #000;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
    padding: 5px;
    margin-top: 14px;
    margin-bottom: 0px;
    height: 30px;
    margin-right: 2px;
}
.barraDeNavegacionTecnicaturaBOTONES:hover{
    background-color: #e0e0f1;
    height: 40px;
    margin-top: 4px;
}


.parragraph-with-space {
    margin-bottom: 120px; /* Espacio en blanco debajo del párrafo */
    padding-left: 10px; /* Relleno a la izquierda del párrafo */
  }

.contenedor-imagenes {
    display: flex; /* Utilizamos flexbox para alinear las imágenes */
    margin-left: 8px;
    width: 210%;
 }

  .contenedor-imagenes img {
    width: 40%; /* Tamaño de las imágenes */
    height: auto; /* Altura ajustada automáticamente */
  }

  .contenedor-imagenes2 {
    text-align: center; /* Centra las imágenes horizontalmente */
  }
  .contenedor-imagenes2 img {
    display: block; /* Asegura que cada imagen esté en una línea nueva */
    
    max-width: 210%; /* Ajusta el ancho máximo de la imagen al tamaño del contenedor */
    height: 50%; /* Altura ajustada automáticamente */
  }