.container#tecnicaturas .sliders{
    overflow: hidden;
}
.container#tecnicaturas .sliders .background{
    background-image: url("../assets/images/programacion/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 130%;
}

.container .pantallazo .contents .imagen{
    width: 30vw;
    height: 50vh;
    margin-left: 10%;
    margin-top: 0;
}